<!DOCTYPE html>
<html>
<head>
<title> FYP Project</title>

    {% load staticfiles %}
        <link rel="icon" href="{% static 'favicon.png' %}"                
        <!--Bootstrap CSS File-->    
        <link href="{% static 'Products/CSS/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <!--theme-style CSS File-->
        <link href="{% static 'Products/CSS/style1.css' %}" rel="stylesheet" type="text/css" media="all" />

        <!-- Javascript File -->
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--JQuery Library-->
        <script src="{% static 'Products/JS/jquery.min.js' %}"></script>

        <!--fonts-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
    
<body> 
	<!--Header-->
	<div class="header">
        <!-- Top-Header in Header-->
        <div class="top-header">
            <div class="container-fluid">
                
                <!-- Left side of the header -->
                <div class="top-header-left">
					<ul class="support">
						<li><a href="#"><label> </label></a></li>
						<li><a href="#">24x7 live<span class="live"> support</span></a></li>
					</ul>
                    <!--
					<ul class="support">
						<li class="van"><a href="#"><label> </label></a></li>
						<li><a href="#">Free shipping <span class="live">on order over 500</span></a></li>
					</ul> -->
					<div class="clearfix"> </div>
				</div>
                
                <!-- Right side of the header -->
                <div class="top-header-right">
                    
				 <!-- Select Language -->
                    <div class="down-top">		
						    <select class="in-drop">
							  <option value="English" class="in-of">English</option>
							  <option value="Urdu" class="in-of">Urdu</option>
							</select>
					 </div>
                    
                    <!-- Select Currency -->
                    <div class="down-top top-down">
						  <select class="in-drop">
                              <option value="PKR" class="in-of">PKR</option>
						      <option value="Dollar" class="in-of">Dollar</option>
						      <option value="Euro" class="in-of">Euro</option>
                          </select>
					 </div>
                     <div class="clearfix"> </div>
                
                </div>
                <div class="clearfix"> </div>        
                    
            </div> <!-- End of the Container-->
        </div> <!-- End of the Top-Header-->
        
        <!-- bottom-Header in Header-->
        <div class="bottom-header">
            <div class="container-fluid">
                <!-- Left Bottom Header --> 
				<div class="header-bottom-left">
					<div class="logo">
						<a href="{% url 'Products:index' %}"><img src="{% static 'Products/images/logo.png' %}" alt=" " /></a>
					</div>
                    
                    <div class="search">
						<!--  Click Inside The Text Field (When You Give It The Focus),
							  It's Value Should Replaced With Empty String,And When 
							  Click Outside It,JavaScript Will Check If It's Value Is 
							  An Empty String,If This Condition Is True,Then 
							  The Value Remain An Empty String -->
						<input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
						<input type="submit"  value="SEARCH">
					</div>
					<div class="clearfix"> </div>
			    </div>
                
                <!-- Right Bottom Header -->
                <div class="header-bottom-right">					
				    <div class="account">
                        <a href="login.html"><span> </span>YOUR ACCOUNT</a>
                    </div>
				    
                    <ul class="login">
				        <li><a href="login.html"><span> </span>LOGIN</a></li> |
				        <li ><a href="register.html">SIGNUP</a></li>
				    </ul>
						
                    <div class="cart">
                        <a href="#"><span> </span>CART</a>
                    </div>
					<div class="clearfix"> </div>
				</div> <!-- End of Right Bottom Header -->
                <div class="clearfix"> </div>
            
            </div> <!-- End of the Container-->
        </div> <!-- End of the bottom-Header-->
	
    </div> <!-- End of the Header-->


 <!-- Start sub-cate  -->    
    <div class="sub-cate">
        <div class=" top-nav rsidebar span_1_of_left">
            <h3 class="cate">CATEGORIES</h3>
            
            <!-- Start menu -->
            <ul class="menu">
                
                <li class="item1"><a href="#">Mobile<img class="arrow-img" src="{% static 'Products/images/arrow.png' %}" alt=""/> </a>
			     <ul class="cute">
                    <li class="subitem1"><a href="product.html">Mobile Phones </a></li>
                    <li class="subitem2"><a href="product.html">Tablets </a></li>
                    <li class="subitem3"><a href="product.html">Accessories </a></li>
			     </ul>
		        </li>
                
                <li class="item2"><a href="#">Clothes <img class="arrow-img " src="{% static 'Products/images/arrow.png' %}" alt=""/></a>
			     <ul class="cute">
                    <li class="subitem1"><a href="product.html">Men's </a></li>
                    <li class="subitem2"><a href="product.html">Women's </a></li>
                    <li class="subitem3"><a href="product.html">Baby </a></li>
			     </ul>
		        </li>
                
                <li class="item3">
                 <a href="#">Computer<img class="arrow-img img-arrow" src="{% static 'Products/images/arrow.png' %}" alt=""/> </a>
                 <ul class="cute">
                    <li class="subitem1"><a href="product.html">Computer </a></li>
                    <li class="subitem2"><a href="product.html">Laptop </a></li>
                    <li class="subitem3"><a href="product.html">Accessories</a></li>
			     </ul>
		        </li>
		
                <li class="item4">
                 <a href="#">Home Appliances <img class="arrow-img img-left-arrow" src="{% static 'Products/images/arrow.png' %}" alt=""/></a>
                 <ul class="cute">
                    <li class="subitem1"><a href="product.html">Large Appliances </a></li>
                    <li class="subitem2"><a href="product.html">Small Appliances </a></li>
                    <li class="subitem3"><a href="product.html">Kitchen Appliances </a></li>
			     </ul>
		        </li>
				
                <li>
                 <ul class="kid-menu">
                    <li><a href="product.html">Perfumes</a></li>
                    <li ><a href="product.html">Sports</a></li>
                    <li ><a href="product.html">Cameras</a></li>
			     </ul>
		        </li>
                
                <ul class="kid-menu ">
                    <li><a href="product.html">Baby & Toys</a></li>
				    <li ><a href="product.html">ETC</a></li>
				    <li><a href="product.html">ETC</a></li>
				    <li><a href="product.html">ETC</a></li>
				    <li ><a href="product.html">ETC</a></li>
				    <li><a href="product.html">ETC</a></li>
				    <li class="menu-kid-left"><a href="contact.html">Contact Us</a></li>
			     </ul>
                    
            </ul><!-- End menu -->
        </div>
        
        <!--initiate accordion-->
		<script type="text/javascript">
			$(function() {
			    var menu_ul = $('.menu > li > ul'),
			           menu_a  = $('.menu > li > a');
			           menu_ul.hide();
			           menu_a.click(function(e) {
			           e.preventDefault();
			        
                       if(!$(this).hasClass('active')) 
                       {
			             menu_a.removeClass('active');
			             menu_ul.filter(':visible').slideUp('normal');
			             $(this).addClass('active').next().stop(true,true).slideDown('normal');
			           } 
                       else 
                       {
			             $(this).removeClass('active');
			             $(this).next().stop(true,true).slideUp('normal');
			           }
			    });
			
			});
		 </script>
        
    </div><!-- END sub-cate  -->
        
    </div><!-- End of the container -->

{% block body %}
{% endblock %}
</body>
</html>
    