
{% extends 'Products/base.html' %}

{% block body %}

<br><br>
<div class="container">
    <div class="row"> 
{% for product in All_Products %}


                <div class="col-xs-12 col-sm-4 " > 
                    <div class="thumbnail">
                        <img class="media-object" src="{{product.thumbnail}}" alt="Cover Photo"  height="200" style="height: 250px;overflow: auto; max-width: 200px;" >
                        <div class="caption">
                            <p  class="media-heading" style="font-style: Normal;font-size:20px"> {{product.Title|slice:":40"}} </p>
                            <p> <a href="#" style="font-size: 12px;"> Rs {{product.price}} </a> </p>
                            <p class="pull-right" style="color: blue;font-size: 25px"> <i class="fa fa-dollar" style="color: limegreen">{{product.Rating}}</p>
                            <a href="#" class="btn btn-info">more info</a>
                        </div>
                    </div>
                </div> 
            
{%endfor%}
</div>
</div>



{% endblock %}